<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
         <class name="HomePage.Header"/>
        <class name="HomePage.Footer"/>
     <class name="HomePage.MidContent"></class> 
     <class name="Products.Products"></class>
     <class name="Solutions.Solutions"></class>
     <class name="TryForFreeWithExcel.TFFFormPage"></class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
