<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="TryForFreeWithExcel.TFFFormPage">
    <methods>
    <include name="TestExcel"></include>
    </methods>
    </class>
    <!--  
      <class name="TryForFreeWithExcel.TFFFormPage"/>
      <class name="Solutions.Solutions"/>
      <class name="HomePage.Header"/>
      <class name="Products.Products"/>
      <class name="HomePage.MidContent"/>
      <class name="HomePage.Footer"/>
      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
